<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianshouji.mapper.BrandMapper" >
  <resultMap id="BaseResultMap" type="com.jianshouji.model.Brand" >
    <id column="GUID" property="guid" jdbcType="VARCHAR" />
    <result column="BRANDNAME" property="brandname" jdbcType="VARCHAR" />
    <result column="CEO" property="ceo" jdbcType="VARCHAR" />
    <result column="BRANDTEL" property="brandtel" jdbcType="VARCHAR" />
    <result column="BRANDADDRESS" property="brandaddress" jdbcType="VARCHAR" />
    <result column="logoaddress" property="logoaddress" jdbcType="VARCHAR" />
  </resultMap>
</mapper>