<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianshouji.mapper.CameraMapper" >
  <resultMap id="BaseResultMap" type="com.jianshouji.model.Camera" >
    <id column="GUID" property="guid" jdbcType="VARCHAR" />
    <result column="CAMERATYPE" property="cameratype" jdbcType="VARCHAR" />
    <result column="CAMERAFACTORY" property="camerafactory" jdbcType="VARCHAR" />
    <result column="PIXEL" property="pixel" jdbcType="VARCHAR" />
    <result column="ISO" property="iso" jdbcType="VARCHAR" />
    <result column="PDAFFLAG" property="pdafflag" jdbcType="VARCHAR" />
    <result column="FALSHLIGHT" property="flashlight" jdbcType="VARCHAR" />
    <result column="OTHER" property="other" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getCameraCombobox" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select GUID,CAMERATYPE from tab_jianshouji_camera
  </select>
</mapper>